---
title: Hello,
title2: My name is John
title3: "<i>& I <span style='font-size: 0.8em;'>♥</span> open source</i>"
bg: bikes.jpg
---

= image_tag "bees.jpg", id: 'bees'

.about
  %p I'm from the UK but wanted to come and work in Barcelona because there are so many exciting things happening with its hardware community right now.
  %p I'm a web developer by trade (Ruby on Rails, PostgreSQL/NoSQL) but I also like making apps and hacking prototypes together whenever I get the opportunity. When I'm not using some type of keyboard I'm probably running or sleeping.
  %p I feel privileged to be on this course and can't wait to start getting my hands dirty with the tools that we'll be learning to use.
  %p Oh... I think bees are cool too.

  %ul.social
    %li= link_to "twitter", "http://twitter.com/john_rees", class: 'sprite twitter', title: 'twitter'
    %li= link_to "github", "http://github.com/johnrees", class: 'sprite github', title: 'github'
    / %li= link_to "facebook", "http://facebook.com/kungpoo", class: 'sprite facebook', title: 'facebook'
    %li= link_to "flickr", "http://www.flickr.com/photos/59837314@N05", class: 'sprite flickr', title: 'flickr'
    %li= link_to "last-fm", "http://last.fm/user/bitsushi", class: 'sprite last-fm', title: 'last-fm'
    %li= link_to "skype", "skype:bitsushi?call", class: 'sprite skype', title: 'skype'
